--index-url https://pypi.python.org/simple/

-e git+https://github.com/vaab/ooop.git#egg=ooop
-e git+https://github.com/0k/cookiecutter.git#egg=cookiecutter
-e git+https://github.com/0k/kids.cmd.git#egg=kids.cmd
-e git+https://github.com/0k/kids.file.git#egg=kids.file
-e git+https://github.com/0k/kids.data.git#egg=kids.data
-e git+https://github.com/0k/kids.sh.git#egg=kids.sh
-e git+https://github.com/0k/kids.txt.git#egg=kids.txt
-e .
